# `Parse Nested JSON Example: Stockmarket API`

# <font color=red>Mr Fugu Data Science</font>

# (◕‿◕✿)

**`Help Support the channel: Buy Me A Coffee @mrfugudatasci`**

In [21]:
import pandas as pd
import json,datetime

# One Entry for the API information I was provided:

`----------------------------------`

`
'{"chart":{"result":[{"meta":{"currency":"INR","symbol":"RELIANCE.NS","exchangeName":"NSI","instrumentType":"EQUITY","firstTradeDate":820467900,"regularMarketTime":1607917711,"gmtoffset":19800,"timezone":"IST","exchangeTimezoneName":"Asia/Kolkata","regularMarketPrice":2008.0,"chartPreviousClose":1993.75,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"IST","start":1607917500,"end":1607917500,"gmtoffset":19800},"regular":{"timezone":"IST","start":1607917500,"end":1607940000,"gmtoffset":19800},"post":{"timezone":"IST","start":1607940000,"end":1607940000,"gmtoffset":19800}},"dataGranularity":"1d","range":"5d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1607399100,1607485500,1607571900,1607658300,1607917711],"indicators":{"quote":[{"high":[2014.25,2033.800048828125,2028.5,2038.0,2014.0],"low":[1950.0,1999.25,2001.0,1974.25,2006.0999755859375],"close":[1993.75,2026.949951171875,2007.0,2005.800048828125,2008.0],"volume":[20030506,13464375,7414229,12434745,392342],"open":[1961.1500244140625,2009.949951171875,2021.5999755859375,2013.0,2007.949951171875]}],"adjclose":[{"adjclose":[1993.75,2026.949951171875,2007.0,2005.800048828125,2008.0]}]}}],"error":null}}'
`

+ Since, I do not have the full data, I assume that each entry is housed within the "chart" key. And I assume this key will have the information for each company we choose for a query.
     + If this is correct I can decide to create one more entry later so we can parse this like a real file at the end.

In [11]:
pp='{"chart":{"result":[{"meta":{"currency":"INR","symbol":"RELIANCE.NS","exchangeName":"NSI","instrumentType":"EQUITY","firstTradeDate":820467900,"regularMarketTime":1607917711,"gmtoffset":19800,"timezone":"IST","exchangeTimezoneName":"Asia/Kolkata","regularMarketPrice":2008.0,"chartPreviousClose":1993.75,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"IST","start":1607917500,"end":1607917500,"gmtoffset":19800},"regular":{"timezone":"IST","start":1607917500,"end":1607940000,"gmtoffset":19800},"post":{"timezone":"IST","start":1607940000,"end":1607940000,"gmtoffset":19800}},"dataGranularity":"1d","range":"5d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1607399100,1607485500,1607571900,1607658300,1607917711],"indicators":{"quote":[{"high":[2014.25,2033.800048828125,2028.5,2038.0,2014.0],"low":[1950.0,1999.25,2001.0,1974.25,2006.0999755859375],"close":[1993.75,2026.949951171875,2007.0,2005.800048828125,2008.0],"volume":[20030506,13464375,7414229,12434745,392342],"open":[1961.1500244140625,2009.949951171875,2021.5999755859375,2013.0,2007.949951171875]}],"adjclose":[{"adjclose":[1993.75,2026.949951171875,2007.0,2005.800048828125,2008.0]}]}}],"error":null}}'

In [18]:
pd.DataFrame(json.loads(pp)['chart'])

                                              result error
0  {'meta': {'currency': 'INR', 'symbol': 'RELIAN...  None

In [22]:
df_1=pd.DataFrame(json.loads(pp)['chart']['result'])
df_1

,meta,timestamp,indicators
0,"{'currency': 'INR', 'symbol': 'RELIANCE.NS', '...","[1607399100, 1607485500, 1607571900, 160765830...","{'quote': [{'high': [2014.25, 2033.80004882812..."

In [28]:
# Flatten: Using JSON Normalize:

df_2=pd.json_normalize(json.loads(df_1.to_json(orient="records")))
df_2

,timestamp,meta.currency,meta.symbol,meta.exchangeName,meta.instrumentType,meta.firstTradeDate,meta.regularMarketTime,meta.gmtoffset,meta.timezone,meta.exchangeTimezoneName,...,meta.currentTradingPeriod.regular.gmtoffset,meta.currentTradingPeriod.post.timezone,meta.currentTradingPeriod.post.start,meta.currentTradingPeriod.post.end,meta.currentTradingPeriod.post.gmtoffset,meta.dataGranularity,meta.range,meta.validRanges,indicators.quote,indicators.adjclose
0,"[1607399100, 1607485500, 1607571900, 160765830...",INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,19800,IST,1607940000,1607940000,19800,1d,5d,"[1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, ...","[{'high': [2014.25, 2033.8000488281, 2028.5, 2...","[{'adjclose': [1993.75, 2026.9499511719, 2007...."

# `Thoughts before moving on:`

+ We can ignore the `ValidRanges` because this column from what I see only establishes the range of values you can retreive data by. It doesn't contain data for each range, it merely suggests all your possibilities.
    + In our example the user chose to get daily information for 5 consecutive days.
Therefore, I will not further parse this column and move on

In [29]:
# consideration: 

df_2['meta.validRanges']

0    [1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, ...
Name: meta.validRanges, dtype: object

# `Moving Forward Ideas:`

I need to figure out a way to parse these data and I have a few options:
+ I can move by looking at datatypes
    + Then iterate, compare datatype and do my operations
+ I have the option of taking out the useless column and move on
+ Maybe ignore column but keep it intact and then do some flattening

We shall try the most productive and easier approach, because this can explode quickly due to nesting.

+ In these circumstances, recursion can be used but depending on features and size of dataset be warned of going down a rabbit hole.
    + Instead if possible try a loop(s)/list comprehension or even numpy arrays

In [26]:
# One option work by datatypes! you would parse if having 'Object'
df_2.dtypes

timestamp                                       object
meta.currency                                   object
meta.symbol                                     object
meta.exchangeName                               object
meta.instrumentType                             object
meta.firstTradeDate                              int64
meta.regularMarketTime                           int64
meta.gmtoffset                                   int64
meta.timezone                                   object
meta.exchangeTimezoneName                       object
meta.regularMarketPrice                        float64
meta.chartPreviousClose                        float64
meta.priceHint                                   int64
meta.currentTradingPeriod.pre.timezone          object
meta.currentTradingPeriod.pre.start              int64
meta.currentTradingPeriod.pre.end                int64
meta.currentTradingPeriod.pre.gmtoffset          int64
meta.currentTradingPeriod.regular.timezone      object
meta.currentTradingPeriod.regular.start          int64
meta.currentTradingPeriod.regular.end            int64
meta.currentTradingPeriod.regular.gmtoffset      int64
meta.currentTradingPeriod.post.timezone         object
meta.currentTradingPeriod.post.start             int64
meta.currentTradingPeriod.post.end               int64
meta.currentTradingPeriod.post.gmtoffset         int64
meta.dataGranularity                            object
meta.range                                      object
meta.validRanges                                object
indicators.quote                                object
indicators.adjclose                             object
dtype: object

In [33]:
# Removing this useless column:
df_2=df_2.drop('meta.validRanges',axis=1)
df_2

,timestamp,meta.currency,meta.symbol,meta.exchangeName,meta.instrumentType,meta.firstTradeDate,meta.regularMarketTime,meta.gmtoffset,meta.timezone,meta.exchangeTimezoneName,...,meta.currentTradingPeriod.regular.end,meta.currentTradingPeriod.regular.gmtoffset,meta.currentTradingPeriod.post.timezone,meta.currentTradingPeriod.post.start,meta.currentTradingPeriod.post.end,meta.currentTradingPeriod.post.gmtoffset,meta.dataGranularity,meta.range,indicators.quote,indicators.adjclose
0,"[1607399100, 1607485500, 1607571900, 160765830...",INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"[{'high': [2014.25, 2033.8000488281, 2028.5, 2...","[{'adjclose': [1993.75, 2026.9499511719, 2007...."

# `What do we notice with this below?`

In [34]:
# Went from 1 row to 5 rows now: flattening lists
df_2.apply(pd.Series.explode)

,timestamp,meta.currency,meta.symbol,meta.exchangeName,meta.instrumentType,meta.firstTradeDate,meta.regularMarketTime,meta.gmtoffset,meta.timezone,meta.exchangeTimezoneName,...,meta.currentTradingPeriod.regular.end,meta.currentTradingPeriod.regular.gmtoffset,meta.currentTradingPeriod.post.timezone,meta.currentTradingPeriod.post.start,meta.currentTradingPeriod.post.end,meta.currentTradingPeriod.post.gmtoffset,meta.dataGranularity,meta.range,indicators.quote,indicators.adjclose
0,1607399100,INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"{'high': [2014.25, 2033.8000488281, 2028.5, 20...","{'adjclose': [1993.75, 2026.9499511719, 2007.0..."
0,1607485500,INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"{'high': [2014.25, 2033.8000488281, 2028.5, 20...","{'adjclose': [1993.75, 2026.9499511719, 2007.0..."
0,1607571900,INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"{'high': [2014.25, 2033.8000488281, 2028.5, 20...","{'adjclose': [1993.75, 2026.9499511719, 2007.0..."
0,1607658300,INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"{'high': [2014.25, 2033.8000488281, 2028.5, 20...","{'adjclose': [1993.75, 2026.9499511719, 2007.0..."
0,1607917711,INR,RELIANCE.NS,NSI,EQUITY,820467900,1607917711,19800,IST,Asia/Kolkata,...,1607940000,19800,IST,1607940000,1607940000,19800,1d,5d,"{'high': [2014.25, 2033.8000488281, 2028.5, 20...","{'adjclose': [1993.75, 2026.9499511719, 2007.0..."

**`We are creating useless redundant data, the rows are creating duplicates based on 1 column`**

+ We need to break this down and create more than 1 table/dataframe instead (unless you have a reason not doing so)

In [ ]:
pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in df_3['candidate'].items() ]))

In [37]:
# This will be our separate table! it will contain 1 row and many columns
df_1['meta'][0]

{'currency': 'INR',
 'symbol': 'RELIANCE.NS',
 'exchangeName': 'NSI',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 820467900,
 'regularMarketTime': 1607917711,
 'gmtoffset': 19800,
 'timezone': 'IST',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'regularMarketPrice': 2008.0,
 'chartPreviousClose': 1993.75,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'IST',
   'start': 1607917500,
   'end': 1607917500,
   'gmtoffset': 19800},
  'regular': {'timezone': 'IST',
   'start': 1607917500,
   'end': 1607940000,
   'gmtoffset': 19800},
  'post': {'timezone': 'IST',
   'start': 1607940000,
   'end': 1607940000,
   'gmtoffset': 19800}},
 'dataGranularity': '1d',
 'range': '5d',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [43]:
# this can be used for the other table it will have 5 rows
df_1['indicators'][0]

{'quote': [{'high': [2014.25, 2033.800048828125, 2028.5, 2038.0, 2014.0],
   'low': [1950.0, 1999.25, 2001.0, 1974.25, 2006.0999755859375],
   'close': [1993.75, 2026.949951171875, 2007.0, 2005.800048828125, 2008.0],
   'volume': [20030506, 13464375, 7414229, 12434745, 392342],
   'open': [1961.1500244140625,
    2009.949951171875,
    2021.5999755859375,
    2013.0,
    2007.949951171875]}],
 'adjclose': [{'adjclose': [1993.75,
    2026.949951171875,
    2007.0,
    2005.800048828125,
    2008.0]}]}

In [55]:
# this will have 5 rows and used with indicators to be 1 table/DF
df_1['timestamp'][0]

datetime.datetime.fromtimestamp(df_1['timestamp'][0][0]).strftime('%m/%d/%Y %H:%M')

'12/07/2020 20:45'

,meta,timestamp,indicators
0,"{'currency': 'INR', 'symbol': 'RELIANCE.NS', '...","[1607399100, 1607485500, 1607571900, 160765830...","{'quote': [{'high': [2014.25, 2033.80004882812..."

# `Citations & Help:`

# ◔̯◔